<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Delivery</title>
  <link rel="stylesheet" href="stylesheets/online.css">
</head>

<body>
  <nav id="navbar">
    <div id="logo">
      <img src="/images/logo.jpg" alt="logo">
    </div>
    <div class="nav1">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Services</a>
    </div>
  </nav>

  <!--section home-->
  <section id="home">
    <h1 class="h-primary">Welcome to MyOnlineMeal Everyone</h1>
    <p>Skip the hassle of cooking and cleaning with our convenient online food delivery service. Browse a vast selection
      of restaurants and cuisines from the comfort of your couch, and have your favorite meals delivered fresh and fast
      to your doorstep.</p>
    <button class="btn">Order Now</button>
  </section>
  <!--our services-->
  <section id="services-container">
    <h1 class="h-primary center">Our Services</h1>
    <div id="services">
      <div class="box">
        <img src="images/food.webp" alt="">
        <h2 class="h-secondary center">Food Catering</h2>
        <p class="center">Make your next gathering unforgettable with our exquisite food catering services. We offer a
          variety of customizable menus to suit any occasion, from corporate lunches and business meetings to social
          gatherings and extravagant celebrations. Our talented chefs use fresh, high-quality ingredients to create
          mouthwatering dishes sure to impress your guests. We take care of everything, from menu planning and
          preparation to seamless delivery and setup. Allow us to handle the food, so you can focus on creating lasting
          memories with your guests.</p>
      </div>
      <div class="box">
        <img src="images/bulk.jpg" alt="">
        <h2 class="h-secondary center">Bulk Ordering</h2>
        <p class="center">Looking to stretch your budget further and ensure you never run out of essentials? Look no
          further than our bulk ordering options! We offer significant discounts on a wide range of products when you
          purchase in larger quantities. Whether you're a business owner stocking up on supplies, a family planning for
          the future, or a group of friends joining forces for better deals, bulk ordering unlocks substantial savings.
          Browse our selection, choose your quantities, and enjoy the convenience of a well-stocked pantry and the
          satisfaction of knowing you got the best price. Shop smart, save more, and order in bulk today!</p>
      </div>
      <div class="box">
        <img src="images/deliver.jpg" alt="">
        <h2 class="h-secondary center">Food Ordering</h2>
        <p class="center">Skip the errands and embrace the ease of online delivery! We offer a vast selection of
          products at your fingertips, from groceries and household essentials to restaurant meals and everyday
          necessities. Simply browse our extensive catalog, add your desired items to your cart, and choose a convenient
          delivery slot. Our reliable delivery partners will ensure your order arrives fresh, fast, and directly at your
          doorstep. Spend less time shopping and more time enjoying the things you love. Order online today and
          experience the ultimate convenience!</p>
      </div>
    </div>
  </section>

  <!--contact-->

  <section id="contact">
    <h1 class="h-primary center">Contact Us</h1>
    <div id="contact-box">
      <form action="">
        <div class="form-group">
          <label for="name">Name: </label>
          <input type="text" name="name" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" name="name" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number: </label>
          <input type="phone" name="name" id="phone" placeholder="Enter your phone">
        </div>
        <div class="form-group">
          <label for="message">Message: </label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
      </form>
    </div>
  </section>
</body>

</html>